<div class="menu_top">
    <div id="userinfo">
        {% if user %}
        <b>{{ user.email }}</b> |
        {% if user_is_admin %}
        <a href='/admin'>System Configuration</a> |
        {% endif %}
        <a href="https://www.google.com/accounts/ManageAccount" target="_blank">My Account</a> |
        {% endif %}
        <a href='http://appengine.google.com/' target="_blank">Appengine</a> |
        <A href="{{ url }}">{{ url_linktext }}</A>
    </div>
    <div>
        <div class="yui-gd">
        <div class="yui-u first">
            <div id="title">
             <a href="/"><img src='/img/logo/weddingheader2.png' alt="Daniel and Boryana's wedding" /></a>
             
            </div>
        </div>
        <div class="yui-u">
            <div align="right" style="padding-top:10px">
                <script type="text/javascript">
                    function searchSite(){
                        var q = document.forms[0]["q"].value;
                        window.location.href = "/search/"+q;
                    }
                </script>
                <!-- Search Google -->
                <!-- Search Google -->
            </div>            
        </div>
        </div>
    </div>
    <div>
    <ul id="navbar">
         {% for menu in nav_menus %}
           <li><a href="{{menu.permalink}}" target="{{menu.target}}">{{menu.title}}</a></li>
         {% endfor %}
    </ul>
    </div>
</div>
