{% extends "main.html" %}
{% block title %}{{title}} - Albums - {% if album %}{{album.title.text}}{% endif %}{% endblock %}
{% block blogcontainer %}
<script type="text/javascript" src="/jscripts/lightbox2.04/js/prototype.js"></script>
<script type="text/javascript" src="/jscripts/lightbox2.04/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/jscripts/lightbox2.04/js/lightbox.js"></script>
<link rel="stylesheet" href="/jscripts/lightbox2.04/css/lightbox.css" type="text/css" media="screen" />
<div class="yui-g" id="albumsdiv">
        {% if album %}
        <div id="albuminfo">
            <H3>Albums</H3>
            <p>
            <a href="/albums">Albums</a> -> <a href="/albums/{{username}}">{{username}}</a> -> <a href="/albums/{{username}}/{{album.name.text}}">{{album.title.text}}</a>
            <p>
            Shot at: {{album.datetime|date:"m/d/y"}} <br>
            Photos Num: {{album.numphotos}}
        </div>
          {% endif %}
        <p>
    <div id="albums">
    <table cellspacing="0" border="0" id="albumsTable">
        <h1>Please vote on the STYLE, not the colour!</h1>
        <h4>If you want to upload some pictures go to <a href='http://picasaweb.google.com'>
        Picasa Web Albums</a> and sign in to boryana.daniel.wedding@gmail.com
        password is the same as dads puta!
    {% for photo in photos %}
        {% if forloop.counter0|divisibleby:"1"  or forloop.first %}
        <tr>
        {% endif %}
        <td>
             {% for thumbnail in photo.media.thumbnail%}
                 {% ifequal forloop.counter 2 %}
                 <a href="{{photo.content.src}}?imgmax=800" rel="lightbox[roadtrip]" onFocus='this.blur()'>
                    <img src="{{thumbnail.url}}" onmouseover="{this.style.border='1px solid #000066'}" onmouseout="{this.style.border='1px solid #CCCCCC'}"/>
                 </a>
                 </td><td>Vote!
                 <form action='/bridesmaidsvote' method='post'>
                    <select name='voter'>
                        {% for voter in allowed_voters %}
                        <option{% ifequal voter last_voter %} selected{% endifequal %} value='{{voter}}'>{{voter}}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <select name='vote'>
                        <option value=5>5</option>
                        <option value=4>4</option>
                 <option value=3>3</option>
                 <option value=2>2</option>
                 <option value=1>1</option>
                 
                 <input type='HIDDEN' name='photo_url' value='{{photo.content.src}}'>
                    <input type='submit' value='Vote'>
                </form>
                </td>
                 <td>
                 {% if current_votes %}
                 <h1>Current votes:</h1>
                 {% for vote in current_votes %}
                 {% ifequal vote.photo_url photo.content.src %}
                 <span align='right'>
                 {{vote.voter}} : {{vote.vote}}<br /></span>
                 {% endifequal %}
                 {% endfor %}
                 {% endif %}
                 </td>
                 
                 {% for rating in overall_rating %}
                 {% ifequal photo.content.src rating.photo_url %}
                 <td>Overall Rating:
                 {{rating.rating}}
                 Current Rank: {{rating.current_rank}}
                 </td>
                 {% endifequal %}
                 {% endfor %}
                 {% endifequal %}
             {% endfor %}
        </td>
        {% if forloop.counter|divisibleby:"1" or forloop.last%}
          </tr>
        {% endif %}
    {% endfor %}
    
        </form>

    </td></tr>
    </table>

    
    </div>
    <table cellpadding=10>
        <tr><td>
    <div class="commentlabel">
            <h4> Add comment </h4>
        </div>
        <form method=post action='/bridesmaidcomment'method='post'>
            <div>
                <label for="name_input"><b>Name</b></label><br />
    <input id="name_input" name='name' type=text size="30">
                
            </div>
            <div id="blogpost">
                <label for="text_input"><b>Comment</b></label><br />
                <textarea name="comment" rows="6" cols="30">
                </textarea>
            </div>
            <br>
            <input type='submit' value='Post'> <br> <br>
        </form>
    </td></tr>
            {% for comment in comments %}
    <tr><td>
            <b>{{comment.name}}</b><br />
    {{ comment.comment|wordwrap:"7" }}<br />
    <div class='commentlabel'>
    <h4>{{ comment.date|timesince}} ago</h4>
    </div>
    {% endfor %}
    </table>
</div>
{% endblock %}
